.c_donationHero {
  background-color: $accent-red;

  height: 300px;

  display: grid;
  grid-template: 1fr 1fr / 1fr;
  align-items: end;
  justify-items: center;
}

.c_donationBar {
  height: 80px;
  width: 500px;

  border-radius: 50px;

  border: double 6px $black;

  overflow: hidden;

  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
  align-items: center;

  position: relative;
  align-self: start;
}

.c_donationBar__text {
  color: $white;
  font-family: $font-shdg;
  font-size: 2rem;
  font-weight: bold;

  z-index: 1;
}

.c_donationBar__fill {
  background: $black;

  position: absolute;
  left: 0;

  height: 100%;
  width: 0;

  transition: width 2s ease-in-out;
}

@media (max-width: $mobile) {
  .c_donationHero {
    padding: 2rem;
  }

  .c_donationHero__title {
    margin: 0;
    align-self: center;
  }

  .c_donationBar {
    width: 100%;
  }
}
