.c_panel {
  background-color: $white;

  min-height: 500px;

  display: grid;
  grid-template-areas: "text imagearea";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  justify-items: center;

  &.c_panel--dark {
    background-color: $black;

    .c_panel__text,
    .c_panel__text__copy {
      color: $white;
    }
  }

  &.c_panel--reverse {
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "imagearea text";
  }
}

.c_panel__text {
  grid-area: text;

  padding: 16px;
}

.c_panel__image {
  grid-area: imagearea;

  background-size: cover;
  background-position: center;

  height: 100%;
  width: 100%;
}

@media (max-width: $mobile) {
  .c_panel,
  .c_panel.c_panel--reverse {
    display: grid;
    grid-template-areas:
      "imagearea"
      "text";
    grid-template-rows: 200px auto;
    grid-template-columns: 100%;

    min-height: 0;
  }

  .c_panel__image {
    display: block;
    height: 200px;
  }
}
