<div class="c_hero">
    <h2 class="u_hdg2 c_hero__title">our mission</h2>
</div>
<div class="c_missionContainer">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales ligula eu tempus rhoncus. Fusce quis felis
        rutrum, ultricies odio non, volutpat orci. Donec varius dapibus malesuada. Aenean ornare neque risus, eget
        luctus magna elementum nec. Ut ullamcorper lectus lacinia, sodales dolor vitae, semper mi. Proin a dolor
        placerat, efficitur velit ut, luctus lacus. Nullam in risus laoreet, sollicitudin sem sit amet, consectetur
        erat.
    </p>
    <h4 class="u_hdg4 c_missionContainer__subHdg">Curabitur erat turpis</h4>
    <p>
        Cras mattis tristique accumsan. Vivamus vulputate urna feugiat auctor fermentum. Donec egestas ornare neque sed
        fermentum. Donec consectetur arcu quis metus ultricies convallis. Aenean rutrum faucibus erat nec volutpat. Nunc
        sed aliquam nibh. Morbi condimentum mollis massa, ut pretium risus placerat sit amet. Phasellus laoreet, orci ut
        facilisis convallis, quam tortor maximus lorem, vitae semper tellus turpis tincidunt ipsum. Praesent nec augue
        vestibulum, ultricies mi a, gravida neque. Curabitur erat turpis, feugiat quis erat ut, facilisis convallis
        quam. Mauris consectetur egestas ullamcorper. Sed et blandit ipsum. Maecenas pulvinar lectus ullamcorper, porta
        lacus sit amet, scelerisque odio.
    </p>
    <p>
        Pellentesque augue massa, tincidunt sit amet fringilla vehicula, mollis quis mauris. Curabitur faucibus, lorem
        non maximus consectetur, magna lectus ultricies ipsum, tempus faucibus ipsum risus rhoncus lorem. Donec ut lorem
        sed lectus posuere sagittis nec ut felis. Nulla viverra suscipit fringilla. Sed sed velit bibendum, porta ante
        vel, aliquet lectus. Morbi ut ipsum pellentesque orci tempus euismod interdum eget diam. Mauris sed velit vitae
        velit commodo accumsan. Vivamus vitae massa felis. In vulputate massa leo, ut dignissim urna sagittis vel. Morbi
        rhoncus placerat sem. Nam ut erat vel sapien ullamcorper sagittis. Etiam sed interdum lacus, condimentum mattis
        risus. Cras in nibh leo. Vivamus quam urna, aliquam id lacinia in, vehicula quis est. Quisque laoreet dui ut
        quam ultrices posuere. Curabitur maximus enim ut lectus feugiat, a molestie neque luctus.
    </p>
    <h4 class="u_hdg4 c_missionContainer__subHdg">Nam ut erat vel</h4>
    <p>
        Curabitur sagittis neque a tincidunt egestas. Phasellus id laoreet ipsum. Duis vel vestibulum massa, finibus
        molestie ante. Maecenas suscipit varius libero, vel malesuada ante efficitur eu. Sed ut malesuada ligula, non
        congue sem. Pellentesque sit amet suscipit turpis. Nunc dui felis, iaculis a magna ut, aliquam ornare risus.
        Suspendisse vel sagittis turpis, non vestibulum sapien. In aliquet suscipit tellus at dignissim. Nulla sit amet
        sem non nisi scelerisque auctor nec sed velit. Nullam finibus in augue a pharetra. Orci varius natoque penatibus
        et magnis dis parturient montes, nascetur ridiculus mus. Etiam iaculis urna eget porta maximus. Proin non dolor
        ut nunc venenatis tincidunt ac vitae magna. In tristique et eros nec lacinia.
    </p>
    <p>


        Donec viverra egestas efficitur. Duis mattis arcu justo, ac sollicitudin leo congue at. Fusce fringilla
        consectetur turpis, non ultrices diam lacinia ac. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Sed libero diam, vehicula in nibh vel, lacinia hendrerit augue. Suspendisse eget
        justo nulla. Duis nisi ligula, interdum volutpat molestie at, condimentum vel tortor. Vestibulum congue turpis
        efficitur enim tempus, at mattis ex vestibulum.
    </p>
</div>