<div class="c_homeHero">
    <h2 class="u_hdg2 c_homeHero__title">play games, heal kids</h2>
    <div class="c_donationBar">
        <div class="c_donationBar__text">
            ${{(team)?.sumDonations}} / ${{(team)?.fundraisingGoal}}
        </div>
        <div class="c_donationBar__fill"></div>
    </div>
</div>
<div class="c_panel">
    <div class="c_panel__text">
        <h3 class="u_hdg3 c_panel__text__heading">Lorem Ipsum</h3>
        <p class="c_panel__text__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="c_panel__image" style="background-image: url('/assets/extra_life.jpg')">
    </div>
</div>
<div class="c_panel c_panel--dark c_panel--reverse">
    <div class="c_panel__text">
        <h3 class="u_hdg3 c_panel__text__heading">Lorem Ipsum</h3>
        <p class="c_panel__text__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="c_panel__image" style="background-image: url('/assets/nerd_arcade.jpg')">
    </div>
</div>
<div class="c_panel">
    <div class="c_panel__text">
        <h3 class="u_hdg3 c_panel__text__heading">Lorem Ipsum</h3>
        <p class="c_panel__text__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="c_panel__image" style="background-image: url('/assets/extra_life.jpg')">
    </div>
</div>
<div class="c_panel c_panel--dark c_panel--reverse">
    <div class="c_panel__text">
        <h3 class="u_hdg3 c_panel__text__heading">Lorem Ipsum</h3>
        <p class="c_panel__text__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="c_panel__image" style="background-image: url('/assets/nerd_arcade.jpg')">
    </div>
</div>