/* Fonts */
$font-hdg: "Raleway", "Helvetica", "Arial", sans-serif;
$font-shdg: "Titillium Web", "Helvetica", "Arial", sans-serif;
$font-body: "Taviraj", "Time New Roman", serif;

/* Colors */
$white: #f3f3f3;
$black: #141516;
$accent-blue: #58c8e7;
$accent-grey: #8da4b2;
$accent-red: #c85637;